@import "../node_modules/bulma/css/bulma.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.app-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons:not(:last-child) {
  margin-bottom: unset;
}
